%h1= @list.name

= render partial: 'form', locals: { list: @list, todo: @todo }

%table
  %thead
    %tr
      %th Description
      %th Status
      %th Delete

  %tbody
    - @todos.each do |todo|
      %tr
        %td= todo.description
        %td= link_to todo.status.humanize, list_todo_path({list_id: @list.id, id: todo.id, todo: { status: todo.complete? ? Todo.statuses.key(Todo.statuses[:incomplete]) : Todo.statuses.key(Todo.statuses[:complete]) }}), method: :patch
        %td= link_to "Delete", list_todo_path(list_id: @list.id, id: todo.id), method: :delete

%br

= link_to 'Back to lists', lists_path
